<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests">
  <test thread-count="5" name="TestOne">
   <parameter name="userName" value="standard_user" />
   <parameter name="password" value="secret_sauce" />
    <classes>
      <class name="testScritptTwo.ProblemUser"/>
      <class name="testScritptTwo.ProblemUser"/>
      <class name="testScritptTwo.ProblemUser"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

<!-- How to run test suite - by using testng.xml file -->